<footer class="footer pt-5">
  <div class="container mx-auto">
    <div class="row">
      <div class="col-md-4 p-4">
        <div class="footer__block">
          <div href="/" title="CyberSoft" class="footer__logo">
            <a href="/">
              <img src="../../../assets/images/cyber.png" alt="CyberSoft">
            </a>
          </div>
          <div class="footer__content mt-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error harum omnis natus repellat, voluptatibus sequi doloribus optio at, aliquid, soluta ratione quaerat quam nostrum atque. Rem, molestiae similique dicta voluptas, deserunt minus libero vel, voluptates a obcaecati autem itaque explicabo.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-4">
        <div class="block-footer block-footer-margin">
          <h3 class="footer__title">
            <span>ĐỐI TÁC</span>
          </h3>
          <ul class="footer__menu ">
            <li class="footer__item">
              <a href="">
                <img src="./../../../assets/images/bhd.png" alt="">
              </a>
            </li>
            <li class="footer__item">
              <a href="">
                <img src="./../../../assets/images/cgv.png" alt="">
              </a>
            </li>
            <li class="footer__item">
              <a href="">
                  <img src="./../../../assets/images/cinestart.png" alt="">
              </a>
            </li>
            <li class="footer__item">
              <a href="">
                  <img src="./../../../assets/images/ddc.jpg" alt="">
              </a>
            </li>
            <li class="footer__item">
              <a href="">
                  <img src="./../../../assets/images/galaxy.png" alt="">
              </a>
            </li>

            <li class="footer__item">
              <a href="">
                  <img src="./../../../assets/images/lotte.png" alt="">
              </a>
            </li>
            <li class="footer__item">
                <a href="">
                    <img src="./../../../assets/images/mega.png" alt="">
                </a>
              </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 p-4">
        <div class="footer__block">
          <h3 class="footer__title">
            <span>LIÊN HỆ </span>
          </h3>
          <ul class="footer__info">
            <li class="footer__item">
              <b>ĐC:</b> 459 Sư Vạn Hạnh, Quận 10 - HCM </li>
            <li class="footer__item">
              <b>T:</b> +84 961.05.10.14 </li>
            <li class="footer__item">
              <b>E:</b> info@cybersoft.edu.vn </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end row -->

  </div>
  <div class=" footer__copyright text-center py-3">

    <p>© Bản quyền CyberSoft 2017. Empower by MyClass.vn</p>
    <!-- end bottom -->

  </div>
  <!-- end row -->
</footer>
