.headingSection{
    overflow: hidden;
    display: flex;
    height: 100%;
    // margin-top: 30px;
    .big-line{
        background: #fff;
        transform: skew(-20deg);
        @include size(30%, 100%);
        position: relative;
        right: 20px;
    }
    .title-section{
        position: relative;
        color: #fff;
        font-weight: 900;
    }
}